obj/
bin/
.idea/
**/coverage.opencover.xml
**/coveragereport/
.vscode
**/TestResults/**
packages/
# understand
artifacts/
*.udb

# Coverage
coverage/

# lcov
**/lcov.info
**/lcov.opencover.xml

TodoList.db

**/Migrations/
